/* line 1, site.css.scss */
html {
  font-family: "Open Sans", "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  -webkit-font-smoothing: antialiased; }

/* line 6, site.css.scss */
body {
  margin: 0;
  padding: 0;
  border: 0;
  width: 100%; }

/* line 13, site.css.scss */
a {
  text-decoration: underline;
  color: inherit; }

/* line 18, site.css.scss */
#container a:hover {
  text-decoration: none; }

/* ======================================== HEADER ======================================== */
/* line 23, site.css.scss */
#header {
  clear: both;
  padding: 0;
  /*background-color: black;*/
  background-image: url("/images/uc3.jpg");
  /*background-size: cover;*/
  width: 100%;
  height: 1000px;
  position: fixed; }

/* line 35, site.css.scss */
#headertext {
  width: 560px;
  margin: 0 auto;
  margin-top: 250px;
  text-align: center;
  color: white;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 0; }

/* line 45, site.css.scss */
#headertext h1 {
  font-size: 500%;
  font-weight: 900;
  margin-top: 0;
  margin: 5px;
  border-bottom: 2px solid #DEDEDE; }

/* line 53, site.css.scss */
#headertext h3 {
  font-size: 125%;
  font-weight: 300; }

/* line 58, site.css.scss */
#headertext p {
  font-size: 70%; }

/* ======================================== MIDDLE ======================================== */
/* line 63, site.css.scss */
.content {
  position: absolute;
  width: 100%;
  margin-top: 42em;
  /* space between top of page and triangle/arrow */ }

/* line 70, site.css.scss */
.background {
  background: white;
  border-top: 1px solid white;
  /* removes space between triangle and content */ }

/* line 75, site.css.scss */
#container {
  position: relative;
  width: 90%;
  max-width: 1250px;
  margin: auto; }

/* ----- SECTION HEADER ----- */
/* line 83, site.css.scss */
.columnheader {
  clear: both;
  text-align: center; }

/* line 88, site.css.scss */
.columnheader > h1 {
  font-size: 225%;
  font-weight: 600;
  padding: 5px;
  border-bottom: 2px solid #E00122;
  width: 30%;
  margin-left: 35%;
  margin-bottom: 5%;
  color: black; }

/* ----- COLUMNS ----- */
/* line 100, site.css.scss */
.column {
  position: relative; }

/* line 104, site.css.scss */
.columnleft, .columnright {
  position: relative;
  float: left;
  margin-bottom: 100px; }

/* line 110, site.css.scss */
.columnleft {
  width: 30%; }

/* line 114, site.css.scss */
.columnright {
  width: 70%; }

/* line 118, site.css.scss */
.columnleft img {
  margin-top: 7%;
  width: 100%; }

/* line 123, site.css.scss */
.contentbox {
  width: 80%;
  margin-left: 10%; }

/* line 128, site.css.scss */
.contentbox ul {
  padding-top: 3%; }

/* ==================== ABOUT ME ==================== */
/* line 133, site.css.scss */
#aboutme-text {
  text-align: center;
  width: 70%;
  margin-left: 15%; }

/* line 139, site.css.scss */
.capability {
  clear: both; }

/* line 143, site.css.scss */
.left {
  width: 30%;
  float: left; }

/* line 148, site.css.scss */
.right {
  width: 70%;
  float: left; }

/* ==================== MY SKILLS ==================== */
/* ----- TEXT ----- */
/* line 156, site.css.scss */
.myskills-text {
  text-align: center;
  width: 70%;
  margin-left: 15%;
  margin-bottom: 5%; }

/* ----- CLICKABLE HEADERS ----- */
/* line 164, site.css.scss */
.skills-headers {
  border-top: 1px solid white;
  /* removes space where header was still visible */ }

/* line 168, site.css.scss */
.skills-headers h2 {
  font-weight: 700; }

/* line 172, site.css.scss */
.left-header,
.middle-header,
.right-header {
  width: 33.3333%;
  float: left;
  margin: auto;
  text-align: center;
  margin-bottom: 2em;
  text-decoration: none;
  background: white;
  color: black;
  /* makes borders be made inside boxes */
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border: 25px solid white;
  border-bottom: 5px solid #E00122; }

/* ----- SKILL TEXTS ----- */
/* line 194, site.css.scss */
.placeholder {
  height: 450px; }

/* line 198, site.css.scss */
.left-text,
.middle-text,
.right-text {
  height: auto;
  /* keeps height of all three tabs equal */
  clear: both;
  /* prevents list's first bullet point to jump to the right */
  display: none;
  padding-left: 10%;
  padding-right: 10%;
  border-bottom: 10px solid white; }

/* line 209, site.css.scss */
.myskills-texts p {
  padding-top: 2%; }

/* line 213, site.css.scss */
.skill-list {
  font-size: 90%; }

/* line 217, site.css.scss */
.placeholder p {
  text-align: center;
  padding-top: 15%; }

/* line 222, site.css.scss */
.left-text ul,
.middle-text ul,
.right-text ul {
  margin-left: 10%; }

/* line 228, site.css.scss */
.left-text p,
.middle-text p,
.right-text p {
  text-align: left; }

/* line 234, site.css.scss */
.story-texts {
  border-bottom: 10px solid white; }

/* ==================== MORE ABOUT ME ==================== */
/* line 240, site.css.scss */
.contact-info {
  text-align: center; }

/* line 243, site.css.scss */
.madeby {
  padding-top: 1%;
  padding-bottom: 1%;
  font-size: 90%;
  text-align: center;
  color: #8C8C8C; }

/* ======================================== FOOTER ======================================== */
/* line 254, site.css.scss */
.footer {
  position: relative;
  float: left;
  clear: both;
  width: 100%;
  height: 150px;
  text-align: center;
  border-bottom: 30px solid white; }

/* line 266, site.css.scss */
.footer-third {
  width: 33.3333%;
  height: 100%;
  float: left;
  background: white;
  /* removes standard link styling */
  text-decoration: none;
  color: inherit;
  /* makes borders be made inside boxes */
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border: 15px solid white; }

/* line 284, site.css.scss */
.footer-third h2 {
  font-weight: 300; }

/* ===== borders ===== */
/* line 289, site.css.scss */
.footer-third-left {
  border-right: 5px solid #A9A9A9;
  border-left: 5px solid white; }

/* line 294, site.css.scss */
.footer-third-middle {
  border-right: 5px solid #A9A9A9;
  border-left: 5px solid #A9A9A9; }

/* line 299, site.css.scss */
.footer-third-right {
  border-left: 5px solid #A9A9A9;
  border-right: 5px solid white; }

/* line 304, site.css.scss */
.footer-third h2:hover {
  text-decoration: underline; }
